@model WebApplicationJune5b.Models.Student

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table table-condensed">
    <thead>
        <tr>
            <th>@Model.Name</th>
            <th>@Model.Id</th>
            <th>@Model.Dob</th>
        </tr>

    </thead>
   
</table>