
@{
    ViewBag.Title = "Academic";
}



<div>

    <h3 style="font-family:courier;"><b>Shartaz Khan Akash</b></h3>

    <h5 style="font-family:courier;">Nationality: Bangladeshi</h5>

    <h5 style="font-family:courier;">Email address: akashshartazkhan@gmail.com</h5>

    <h5 style="font-family:courier;">
        I am a young professional intending to continue my development as an engineer. I think in terms of results and
        objectives, I am enthusiastic, and I work with decisiveness and conviction. I have a proactive attitude and find
        positive ways to stimulate and engage with people.
    </h5>


    <hr />
    <dl class="dl-horizontal">
    </dl>


    <h4 style="color: dodgerblue; font-family: courier; font-size: 120%;">EDUCATION</h4>

    <h4 style="font-family:courier;">Bachelors of Science in Computer Engineering - <i>American International University-Bangladesh</i> </h4>
    <h4 style="font-family:courier;">BachelorsHigher Secondary Certificate (HSC) - <i>Dhaka Imperial College</i></h4>
    <h4 style="font-family:courier;">Secondary School Certificate (SSC) - <i> Motijheel Model High Schoo</i>l</h4>

    <hr />
    <dl class="dl-horizontal">
    </dl>

    <h4 style="color: dodgerblue; font-family: courier; font-size: 120%;">SKILLS</h4>

    <h4 style="font-family:courier;">Programming Languages: <i>Python, C# .NET</i> </h4>
    <h4 style="font-family:courier;">Graphic Softwares: <i>Adobe Illustrator, Adobe Photoshop</i></h4>
    <h4 style="font-family:courier;">Office Softwares: <i>Microsoft Word, Microsoft Excel, Microsoft Powerpoint, Outlook</i></h4>



    <hr />
    <dl class="dl-horizontal">
    </dl>

    <h4 style="color: dodgerblue; font-family: courier; font-size: 120%; ">PROJECTS</h4>

    <h4 style="font-family:courier;">
        Deep Learning-Based Prediction of Football Players Performance During Penalty Shootout
    </h4>



    <hr />
    <dl class="dl-horizontal">
    </dl>

    <h4 style="color: dodgerblue; font-family: courier; font-size: 120%;">HONOURS AND AWARDS</h4>

    <h4 style="font-family:courier;">
        Best Capstone Project Nomination [Spring 2021-22] - <i>American International University-Bangladesh</i>
    </h4>

</div>