
@{
    ViewBag.Title = "Personal";
}


<div>

    <h3 style="font-family:courier;"><b>Shartaz Khan Akash</b></h3>

    <h5 style="font-family:courier;">Nationality: Bangladeshi</h5>

    <h5 style="font-family:courier;">Date of Birth: 12 December 1999</h5>

    <h5 style="font-family:courier;">Email address: akashshartazkhan@gmail.com</h5>

    <h5 style="font-family:courier;">
        I am a young professional intending to continue my development as an engineer. I think in terms of results and
        objectives, I am enthusiastic, and I work with decisiveness and conviction. I have a proactive attitude and find
        positive ways to stimulate and engage with people.
    </h5>


    <hr />
    <dl class="dl-horizontal">
    </dl>




</div>