@model MediaBazar.Models.User
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAccess.cshtml";
    <style type="text/css">
        body {
            background: white !important;
        }
        /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
    </style>
}



<div class="d-flex justify-content-center">
    <span class="text-danger">@TempData["msg"]</span>
</div>


<form class="align-items-center" action="" method="post">

    <div class="d-flex justify-content-center">
        <h2 class="">Movie Wala</h2>
    </div>


    <div class="card pt-3 pb-3 bg-dark text-white mx-auto my-lg-auto" style="width: 18rem" ;>
        <div class="d-flex justify-content-center">

            <div>
                <input type="text" class="form-control" name="Username" value="@(Model != null ? Model.Username : "")" placeholder="Username" />
                @Html.ValidationMessage("Username", new { @class = "text-danger" })<br />
            </div>

        </div>

        <div class="d-flex justify-content-center">

            <div>
                <input type="password" class="form-control" name="Password" placeholder="Password" />
                @Html.ValidationMessage("Password", new { @class = "text-danger" })<br />
            </div>


        </div>

        <div class="d-flex justify-content-center">
            <div>

                <button type="submit" class="btn btn-success">Login</button>

                <a class="btn btn-primary" href="/Access/Signup" role="button">Signup</a>

            </div>
        </div>
    </div>


</form>